<div id="<%= dom_id calc %>">
  <p>
    <strong>Input number:</strong>
    <%= calc.input_number %>
  </p>

  <p>
    <strong>Binary input number:</strong>
    <%= calc.binary_input_number %>
  </p>

  <p>
    <strong>Output number:</strong>
    <%= calc.output_number %>
  </p>

  <p>
    <strong>Binary output number:</strong>
    <%= calc.binary_output_number %>
  </p>

</div>
